@page
@model zaliczenie_razor_pages.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Kategorie</h1>

<p>
    <a asp-page="Create" class="btn btn-secondary">Stwórz nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edytuj</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary">Szczegóły</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-secondary">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
